
    <div class="container-fluid">
        <div class="row">
            <div class="col col-sm-6">
                <h1 style="color:red">about</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat explicabo, minus temporibus molestiae recusandae eligendi rem provident natus enim dolorum accusantium ex pariatur qui, nihil eos nesciunt aut ducimus cupiditate!</p>


            </div>
            <div class="col col-sm-6">
                <h1 style="color:red">about</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident possimus quis fuga esse dolorum blanditiis, in, odio optio, accusantium quo ipsa dolor neque animi minus et sapiente nemo praesentium quam.</p>
            </div>
        </div>
    </div>
  

    </div>
    
 
