<div class="container">
    <div class="row">
        <div class="col col-sm-4"></div>
        
       <div class="col col-sm-4">
    <form method="post" action="/data">    
<table>
    <tr>

        <td>name</td>
        <td><input type="text" name="name" id=""></td>
    </tr>
    <tr>
        <td>adress</td>
        <td><input type="text" name="adress" id=""></td>
    </tr>
    <tr>
        <td>place</td>
        <td><input type="text" name="place" id=""></td>
    </tr>
    <tr>
        <td>mobile</td>
        <td><input type="text" name="mobile" id=""></td>
    </tr>
    <tr>
        <td>email</td>
        <td><input type="text" name="email" id=""></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">submit</button></td>
        </tr>
</table></form>   
    
</div>

<div class="col col-sm-4"></div>
</div>
</div>